
/* TODO:
    - add text-align
    - add background images 
    - correct default outline
*/

/* ------------------------------Basic elements styling------------------------------------- */

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.content-box-component {
    box-sizing: content-box;
}

/* TODO: replace the latest version */
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.hidden {
    display: none;
}

body {
    margin: 0;

    font-family: "Roboto", Arial, sans-serif;
    color: #ffffff;

    background-color: #849d8f;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 1200px;

    padding: 0 27px;
    margin: 0 auto;
}

/* ------------------------------Buttons styling------------------------------------- */
.button {
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;

    background-image: linear-gradient(to top, #e74a35, #f26843);
    
    border: none;
    border-radius: 64px;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
    outline: none;

    box-shadow: 0px 2px 2px 0 #ac1000;
    background-image: 
        linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
        linear-gradient(to top, #e74a35, #f26843);
}

.button:active {
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
        linear-gradient(to bottom, #e74a35, #f26843);
}

/* ------------------------------Links styling------------------------------------- */
.link {
    /* TODO: why font parameters here? */
    line-height: 16px;
    font-size: 13px;
    font-weight: normal;

    text-decoration: underline;
}

.link:hover,
.link:focus {  
    outline: none;

    color: #ffbc9e;
}

/* ------------------------------Form inputs styling------------------------------------- */
.input-field {
    font: inherit;
    line-height: 24px;
    font-size: 16px;
    color: #323232;
    font-weight: bold;

    background-color: #ffffff;
    
    padding: 15px 10px;
    border-radius: 5px;
    border: 1px solid rgba(178, 178, 178, 0.52);
}

.input-field::placeholder {
    font-weight: normal;
    color: #999999;
}

.input-field:hover {
    box-shadow: inset 0px 0px 0px 1px rgba(154, 154, 154, 0.52);
}

.input-field:focus {
    outline: none;
    
    border: 1px solid rgba(46, 136, 228, 0.52);
    box-shadow: inset 0px 0px 0px 1px rgba(46, 136, 228, 0.52);
}

/* ------------------------------Underscore styling------------------------------------- */

.underscore_text {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

a:hover .underscore_text,
a:focus .underscore_text {
    border-bottom: none;
}

/* ------------------------------Header styling------------------------------------- */

.main-header {
    padding-top: 9px;

    display: flex;
    flex-direction: column;
}

.main-header-logo {
    margin-right: 10px;
}

.main-navigation {
    display: flex;

    margin-bottom: 2px;
}

.site-navigation {
    list-style: none;
    
    line-height: 18px;
    font-size: 16px;
    font-weight: bold;
    
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 20px 0 0 0;
    max-width: 700px;
}

.site-navigation li {

    position: relative;
}

.site-link {
    padding: 5px 14px;
}

/* TODO: Hack on order not to loose dropdown menu */
.site-navigation > li:hover {
    padding-bottom: 10px;
}

.site-navigation li:hover .site-link,
.site-navigation li:focus .site-link {
    font-weight: bold;
    color: #323232;

    background-color: #f7f6f3;

    border-radius: 32px;
}

/* TODO: needs refactoring selector depth */
.site-navigation > li:hover > .sub-navigation,
.site-navigation > li:focus > .sub-navigation {
    display: block;
}


.site-link.selected {
    font-weight: bold;
    color: #ffffff;

    background-color: #d07058;

    border-radius: 32px;
}

.sub-navigation {
    list-style: none;
    
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    color: #323232;

    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;

    display: none;
    padding: 0;
    margin: 0;
    overflow: hidden;

    position: absolute;
    left: -7px;
    top: 31px;

    width: 143px; /* TODO: min-width or padding-right on li? */
}

.sub-navigation li:nth-child(1)::after {
    content: "";

    background-color: #323232;
    margin: 0 auto;
    margin-top: -1px;

    display: block;

    height: 1px;
    width: 128px;
    opacity: 0.2;
}

.sub-link {
    display: block;

    padding: 5px 0 8px 21px;
}

.sub-navigation li:nth-child(1) .sub-link {
    padding-top: 10px;
    padding-bottom: 12px
}

.sub-link:hover,
.sub-link:focus {
    color: #323232;

    background-color: #fbded7;
}

.sub-link:active {
    color: #323232;

    background-color: #f6b5a5;
}

.sub-link.selected {
    color: #ffffff;

    background-color: #d07058;
}

.user-navigation {
    display: flex;
    align-items: flex-start;

    padding-top: 13px;
    margin-left: auto;
}

.user-navigation a {
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;

    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 32px;

    margin-right: 10px;

    display: block;
}

.user-navigation .search-link {

    position: relative;

    width: 32px;
    height: 32px;
}

/* TODO: might be content image? */
.user-navigation .search-link::before {
    content: "";

    background-image: url("../img/svg/loupe.svg");
    background-position: top left;

    position: absolute;
    top: 8px;
    left: 8px;
    
    width: 17px;
    height: 17px;
}

.user-navigation .search-link:hover::before {
    background-image: url("../img/svg/loupe_black.svg");
}

.user-navigation .login-link,
.user-navigation .cart-link {

    padding: 5px 17px 10px 44px;

    position: relative;
}

.user-navigation .cart-link {
    margin-right: 0;
}

.user-navigation .cart-link::before {
    content: "";

    background-image: url("../img/svg/basket.svg");
    background-position: top left;

    position: absolute;
    top: 6px;
    left: 15px;
    
    width: 21px;
    height: 19px;
}

.user-navigation .cart-link:hover::before {
    background-image: url("../img/svg/basket_black.svg");
}

.user-navigation .login-link::before {
    content: "";

    background-image: url("../img/svg/entrance.svg");
    background-position: top left;

    position: absolute;
    top: 6px;
    left: 15px;
    
    width: 21px;
    height: 19px;
}

.user-navigation .login-link:hover::before {
    background-image: url("../img/svg/entrance_black.svg");
}

.user-navigation a:hover {
    color: #323232;

    background-color: #f8f7f4;
}

.user-navigation .cart-loaded {
    color: #323232;
    background-color: #f8f7f4;
}

.user-navigation .cart-loaded::before,
.user-navigation .cart-loaded:hover::before {
    background-image: url("../img/svg/basket-red.svg");
}

.contact-info-wrapper {
    align-self: flex-end;

    position: relative;
    top: -7px;
}

.contact-info-wrapper .open-time {
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;

    margin: 0 0 8px 0;
}

.contact-info-wrapper .phone {
    line-height: 24px;
    font-size: 22px;
    font-weight: bold;
}

/* ------------------------------Main section styling------------------------------------- */

.main-wrapper {
    display: flex;
    flex-direction: column;

    margin-bottom: 39px;
}

.catalog-main {
    display: flex;
    flex-direction: column;

    margin-bottom: 39px;
}

/* ------------------------------Main banner styling------------------------------------- */

.main-banner {
    padding-top: 265px;
    margin-bottom: 40px;
}

.main-banner-list {
    list-style: none;
    
    margin: 0;
    padding: 0;
}

.main-banner-item {
    text-align: center;
}

.main-banner-image {
    position: absolute;
    z-index: -1;

    top: 0;
    left: 110px; /* TODO: correct position? */
}

.main-banner-info {
    line-height: 60.5px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;

    margin: 0 auto 29px;

    width: 670px;
}

.main-banner-item .button {
    line-height: 44px;
    font-size: 32px;
    font-weight: bold;

    padding: 10px 40px 12px 40px;
}

.banner-controls {
    display: flex;

    position: absolute;
    top: 563px;
    left: calc(50% - 573px);
}

.banner-controls label {

    cursor: pointer;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-right: 8px;

    width: 21px;
    height: 21px;
}

/* TODO: how to refactor depth? */
#banner-1:checked ~ .index-main label[for = "banner-1"],
#banner-2:checked ~ .index-main label[for = "banner-2"],
#banner-3:checked ~ .index-main label[for = "banner-3"] {
    background-color: #ffffff;
}

#banner-1:checked ~ .index-main .main-banner-item:nth-child(1),
#banner-2:checked ~ .index-main .main-banner-item:nth-child(2),
#banner-3:checked ~ .index-main .main-banner-item:nth-child(3) {
    display: block;
}


/* ------------------------------Special offers styling------------------------------------- */

.special-offers {
    margin-bottom: 40px;

    display: flex;
    justify-content: space-between;
}

.special-offer {
    text-align: right;

    background-color: #000000;
    background-position: top left;
    background-repeat: no-repeat;

    border-radius: 15px;

    padding: 18px 21px 23px 20px;

    width: 560px;
}

/* FIXME: Why 2 and 3? */
.special-offer:nth-child(2) {
    background-image: url("../img/special-offer-strawberry.jpg");
}

.special-offer:nth-child(3) {
    background-image: url("../img/special-offer-chocolate.jpg");
}

.special-offer-header {
    line-height: 41px;
    font-size: 35px;
    font-weight: bold;
    text-align: left;

    margin: 0 0 15px;
}

.special-offer-description {
    line-height: 22px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;

    margin: 0 0 45px;

    width: 515px;
}

.special-offer .button {
    padding: 10px 19px;
}

/* ------------------------------Icecreams list styling------------------------------------- */

 .index-main .icecreams {
    margin-bottom: 38px;
} 

.catalog-main .icecream-list {
    margin-bottom: 53px;
}

.icecream-list {
    list-style: none;

    padding: 0;
    margin: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icecream-item {
    text-align: center;
    
    width: 267px;

    position: relative;
}

.icecream-item {
    margin-top: 40px;
}

.icecream-item:nth-child(-n + 4) {
    margin-top: 0;
}

.icecream-item::before {
    content: "";

    position: absolute;
    top: -5px;
    bottom: -75px; 
    left: -13px;
    z-index: -1; 

    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);

    width: 293px;
 
    display: none;
}

.index-main .icecream-item::after {
    content: "";

    background-image: url("../img/svg/hit.svg");

    display: block;
    position: absolute;
    left: 0;
    top: 0;

    width: 61px;
    height: 61px;
}

.icecream-item img {
    margin-bottom: 9px;
}

.icecream-price {
    line-height: 45px;
    font-size: 45px;
    font-weight: bold;

    margin: 0;

    position: absolute;
    left: 0;
    top: 210px;
}

.icecream-price span {
    font-size: 30px;
}

.icecream-name {
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;

    margin: 0;
}

.icecream-item .button {
    display: none; 

    padding: 10px 19px;

    position: absolute;
    left: 33px;
    bottom: -50px;
}

.icecream-item:hover {
    z-index: 1;
}

.icecream-item:hover .button {
    display: block;
}

.icecream-item:hover::before {
    display: block;
}

/* ------------------------------About Gllacy styling------------------------------------- */

.about-gllacy {
    color: #323232;

    border-radius: 15px;

    background-color: #ede1c5;
    background-position: top left;
    background-repeat: repeat;
    background-image: url("../img/about-gllacy-grid.jpg");

    padding: 23px 20px 26px;
    margin-bottom: 40px;
}

.about-gllacy h2 {
    line-height: 30px;
    font-size: 24px;
    font-weight: 500;

    padding: 0;
    margin: 0 0 21px;
}


.features-list {
    list-style: none;

    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
}

.feature-item {
    line-height: 22px;
    font-size: 16px;
    font-weight: normal;

    position: relative;
}

.feature-item p {
    margin: 0;
}

.features-list .feature-item:nth-child(odd) {
    width: 476px;

    margin-right: 91px;
    margin-left: 56px; /* TODO: Ok using margin-left? */
}

.features-list .feature-item:nth-child(even) {
    width: 470px;
}

.feature-item {
    margin-top: 22px;
}

.feature-item:nth-child(-n + 2) {
    margin-top: 0;
}

.feature-item::after {
    content: "";

    display: block;
    position: absolute;
    left: -56px;
    top: -13px;

    width: 49px;
    height: 49px;
}

.feature-production::after {
    background-image: url("../img/svg/ice-cream.svg");
}

.feature-suppliers::after {
    background-image: url("../img/svg/cow.svg");
}

.feature-ingredients::after {
    background-image: url("../img/svg/eco.svg");
}

.feature-delivery::after {
    background-image: url("../img/svg/thermometer.svg");
}

/* ------------------------------New blog record styling------------------------------------- */

.new-blog-subscribe-wrapper {
    display: flex;
    justify-content: space-between;
}

.new-blog-record {
    color: #323232;

    border-radius: 15px;

    background-color: #ffffff;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url("../img/blog-icecream.jpg");

    padding: 20px 19px 80px;

    width: 560px;
}

.new-blog-record h2 {
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;

    margin: 0 0 8px;
}

.blog-record-link {
    line-height: 30px;
    font-size: 24px;
    font-weight: bold;

    display: inline-block;

    width: 281px;
}

/* ------------------------------Subscribe styling------------------------------------- */

.subscribe {
    color: #5a5a5a;

    border-radius: 15px;

    background-color: #f8f7f4;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url("../img/svg/bg-post.svg");

    padding: 5px;

    width: 560px;
}

/* TODO: move wrapper outside? */
.subscribe-wrapper {
    border-radius: 15px;

    background-color: #f8f7f4;

    padding: 28px 20px 35px 21px;
}

.subscribe p {
    line-height: 22px;
    font-size: 16px;
    font-weight: normal;

    margin: 0 0 38px;

    width: 506px;
}

.subscribe .input-field {
    padding: 8px 0 8px 15px;
    margin-right: 11px;

    width: 368px;
}

.subscribe .button {
    padding: 8px 19px;
}

/* ------------------------------Contacts styling------------------------------------- */

.contacts {

    display: flex;
    justify-content: center;

    margin-bottom: 18px;

    position: relative;
}

.contacts.container {
    padding: 0;
}

.contacts-feedback {
    line-height: 20px;
    font-size: 14px;
    font-weight: normal;
    color: #323232;

    background-color: #ffffff;

    border-radius: 15px;

    padding: 25px 0 30px 25px;
    width: 302px;

    position: absolute;
    top: 63px;
    /* right: 27px; */
    left: calc(50% + 271px);
}

.contacts-feedback h2 {
    font: inherit;

    margin: 0 0 3px;
    width: 148px;
}

.contacts-feedback .feedback-address {
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;

    margin: 0;
    width: 225px;
}

.contacts-feedback .feedback-phone {
    line-height: 22px;
    font-size: 18px;
    font-weight: bold;
}

.contacts-feedback .feedback-time {
    line-height: 22px;
    font-size: 14px;
    font-weight: normal;

    margin: 0 0 20px;
}

.contacts-feedback .button {
    
    display: inline-block;

    padding: 8px 28px;
}

/* ------------------------------Breadcrumbs styling------------------------------------- */

.breadcrumbs {
    list-style: none;

    padding: 0;
    margin: -20px 0 5px;

    display: flex;
}

.breadcrumbs li {
    margin-right: 21px;
}

.breadcrumbs-link {
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
}

/* ------------------------------Header styling for catalog page------------------------------------- */
.catalog-main h1 {
    line-height: 41px;
    font-size: 35px;
    font-weight: bold;

    margin: 0 0 25px;
}

/* ------------------------------Icecream filter styling------------------------------------- */
.icecream-filter {
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;

    margin-bottom: 40px;
}

.icecream-filter-form {
    display: flex;
    flex-wrap: wrap;
}

.icecream-filter-form fieldset {
    border: none;
}

/* TODO: How to style dropdown list? */
.filter-sort {
    color: inherit;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;

    padding: 8px 51px 8px 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 32px;
}

.filter-sort:hover {
    color: #323232;
}

.filter-price-range {
    position: relative;
}

.filter-price-values {
    margin: 0;

    position: absolute;
    top: -21px;
    left: 40px;
}

.filter-price-values input {
    color: inherit;
    background-color: transparent;
    border: none;

    width: 30px;
}

.filter-price-controls {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 32px;

    position: relative;

    width: 220px;
    height: 37px;
}

.filter-price-controls::before {
    content: "";

    background-color: #ffffff;
    border: none;

    position: absolute;
    top: 17px;
    left: 22px;

    width: 176px;
    height: 4px;
}

.filter-price-controls button {
    border-radius: 20px;
    border: none;
    background-color: #ffffff;

    position: absolute;
    top: 9px;

    width: 20px;
    height: 20px;
}

.filter-price-controls button:hover,
.filter-price-controls button:focus {
    outline: none;

    /* FIXME: */
    border: 1px solid blueviolet;
}

.range-button-min {
    left: 35px;
}

.range-button-max {
    right: 67px;
}

.filter-fat-list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
}

.filter-fat-option {
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
}

.filter-filler-list {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
}

.filter-filler-option {
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
}

.filter-button {

    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    
    background-color: rgba(255, 255, 255, 0.2);
    
    border: 2px solid #ffffff;
    border-radius: 37px;
}

.filter-button:hover,
.filter-button:focus {
    outline: none;

    color: #323232;

    background-color: #ffffff;
}

.filter-button:active {
    color: #323232;
    
    border: none;
    box-shadow: inset 0px 2px 1px 0 #696969;
}

/* ------------------------------Pagination styling------------------------------------- */

.pagination {
    list-style: none;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: flex-end;
}

.pagination-item button {

    width: 27px;
    height: 26px;

    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;

    background-color: transparent;

    padding: 0;
    border: none;
    border-radius: 50px;  

    position: relative;
}

.pagination-item button:hover,
.pagination-item button:focus {
    outline: none;

    background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item.selected button {
    color: #323232;

    background-color: #ffffff;
}

.pagination-back button::before,
.pagination-forth button::before {
    content: "";

    border: solid #ffffff;
    border-width: 0 1px 1px 0;

    width: 11px;
    height: 11px;

    position: absolute;
}

.pagination-back button::before {
    transform: rotate(135deg);
    top: 8px;
    left: 10px;
}

.pagination-forth button::before {
    transform: rotate(-45deg);
    top: 8px;
    right: 10px;
}

/* ------------------------------Footer styling------------------------------------- */

.main-footer {
    display: flex;
    justify-content: space-between;

    margin-bottom: 29px;
}

.footer-social {
    list-style: none;

    margin: 0 3px 0 0;
    padding: 18px 0 0;

    display: flex;
}

.footer-navigation {
    list-style: none;

    margin: 0;
    padding: 15px 0 0;

    width: 304px;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.footer-social li {
    margin-right: 11px;
}

.footer-social li:last-child {
    margin-right: 0;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;    

    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 38px;

    width: 38px;
    height: 38px;
}

.social-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}
/* 
.social-button img {
    border-radius: 32px;
} */

.footer-navigation li {
    margin-bottom: 2px;
}

/* TODO: Refactor to 2 selectors */
.footer-navigation li:nth-child(1) .footer-link {
    font-weight: bold;
}

.footer-navigation li:nth-child(1) {
    position: relative;
}

.footer-navigation li:nth-child(1)::before {
    content: "";

    background-image: url("../img/svg/heart.svg");
    background-position: top left;

    position: absolute;
    top: 3px;
    left: -20px;
    
    width: 15px;
    height: 13px;
}

.footer-navigation li:nth-child(odd) {
    width: 111px;
    margin-right: 31px;
}

.footer-copyright { 
    line-height: 18px;
    font-size: 12px;
    font-weight: normal;

    margin: 0;
}

/* TODO: check font inheritance in other links. Might need refactoring */
.footer-copyright .link {
    font: inherit;
}

/* ------------------------------Popup forms styling------------------------------------- */

/* ------------------------------Login form styling------------------------------------- */
.login-form {
    color: #323232;
    background-color: #f8f7f4;

    border-radius: 5px;
    padding: 20px 17px 20px 19px;

    position: absolute;
    top: 60px;
    left: calc(50% + 185px);
}

.login-form p {
    margin: 0;
}

.login-form .input-field {
    line-height: 24px;
    font-size: 14px;
    font-weight: normal;
    color: #999999;

    margin-bottom: 20px;
    padding: 10px 0 10px 15px;

    width: 241px;
}

.login-form .button {
    padding: 10px 25px;
}

.login-form-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.login-form-link {
    line-height: 24px;
    font-size: 13px;
    font-weight: normal;
    color: #323232;
}

.login-form-actions-wrapper {
    display: flex;
    justify-content: space-between;
}

/* ------------------------------Search form styling------------------------------------- */
.search-form {
    color: #323232;
    background-color: #f8f7f4;

    border-radius: 5px;   
    padding: 20px 15px;

    position: absolute;
    top: 60px;
    left: calc(50% + 20px);
}

.search-form .input-field {
    line-height: 24px;
    font-size: 14px;
    font-weight: normal;
    color: #999999;

    padding: 10px 0 10px 15px;

    width: 311px;
}

/* ------------------------------Modal feedback form styling------------------------------------- */

.modal-feedback {
    color: #323232;
    background-color: #f8f7f4;

    border-radius: 5px;
    padding: 20px 26px 27px 24px;

    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);   
}

.modal-feedback form {
    display: flex;
    flex-direction: column;
}

.modal-feedback b {
    line-height: 28px;
    font-size: 24px;
    font-weight: 500;

    margin-bottom: 24px;

    display: block;
}

.modal-feedback p {
    margin: 0 0 20px 0;
}

.modal-feedback .input-field {
    line-height: 24px;
    font-size: 16px;
    font-weight: normal;
    color: #999999;

    padding: 10px 0 10px 15px;

    width: 267px;
}

.modal-feedback .feedback-message {
    margin-bottom: 25px;
}

.feedback-message .input-field {
    width: 428px;
    height: 155px;
}

.modal-feedback .button {
    padding: 10px 25px;
    margin-left: auto;
}

.modal-feedback .modal-close {
    border: none;
    
    position: absolute;
    top: 0;
    right: 0;
}

/* ------------------------------Checkout form styling------------------------------------- */

.checkout-form {
    line-height: 16px;
    font-size: 13px;
    font-weight: normal;
    color: #323232;

    background-color: #f8f7f4;

    border-radius: 5px;   
    padding: 20px 15px;

    position: absolute;
    top: 60px;
    left: calc(50% + 35px);
}

.checkout-form .wrapper {
    display: flex;
    flex-direction: column;
}

.cart-list {
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-list td {
    padding-bottom: 20px;
}

.cart-remove {
    width: 25px;
}

.cart-image {
    width: 47px;
}

.cart-image img {
    vertical-align: bottom;
}

.cart-name {
    width: 247px;
}

.cart-weight {
    width: 122px;
}

.cart-cost {
    width: 68px;
}

.cart-remove-button {
    background-color: transparent;
    border: none;

    padding: 0;
}

.cart-total {
    line-height: 18px;
    font-size: 15px;
    font-weight: bold;
}

.cart-total td {
    text-align: right;

    padding: 10PX 0 0 0;
    border-top: 1px solid #cacac7;
}

.checkout-form .button {
    padding: 10px 15px;
    margin-left: auto;
}

/* TODO: remove me */
 /* input, img, div,section,a,ul,li,p,footer,header {
    outline: 1px solid red;
}   */