
/* TODO:
    - add text-align
    - add background images 
    - correct default outline
*/

/* ------------------------------Basic elements styling------------------------------------- */

*, 
*::before, 
*::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}

.content-box-component {
    box-sizing: content-box;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.hidden {
    display: none;
}

body {
    margin: 0;

    font-family: "Roboto", Arial, sans-serif;
    color: #ffffff;

    background-color: #849d8f;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 1200px;

    padding: 0 27px;
    margin: 0 auto;
}

/* ------------------------------Buttons styling------------------------------------- */
.button {
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;

    background-image: linear-gradient(to top, #e74a35, #f26843);
    
    border: none;
    border-radius: 64px;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
    outline: none;

    box-shadow: 0px 2px 2px 0 #ac1000;
    background-image: 
        linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
        linear-gradient(to top, #e74a35, #f26843);
}

.button:active {
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
        linear-gradient(to bottom, #e74a35, #f26843);
}

/* ------------------------------Links styling------------------------------------- */
.link {
    line-height: 16px;
    font-size: 13px;
    font-weight: normal;

    text-decoration: underline;
}

.link:hover,
.link:focus {  
    outline: none;

    color: #ffbc9e;
}

/* ------------------------------Form inputs styling------------------------------------- */
.input-field {
    font: inherit;
    line-height: 24px;
    font-size: 16px;
    color: #323232;
    font-weight: bold;

    background-color: #ffffff;
    
    border-radius: 5px;
    border: 1px solid rgba(178, 178, 178, 0.52);
}

.input-field::placeholder {
    font-weight: normal;
    color: #999999;
}

.input-field:hover {
    box-shadow: inset 0px 0px 0px 1px rgba(154, 154, 154, 0.52);
}

.input-field:focus {
    outline: none;
    
    border: 1px solid rgba(46, 136, 228, 0.52);
    box-shadow: inset 0px 0px 0px 1px rgba(46, 136, 228, 0.52);
}

/* ------------------------------Underscore styling------------------------------------- */

.underscore_text {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

a:hover .underscore_text,
a:focus .underscore_text {
    border-bottom: none;
}

/* ------------------------------Header styling------------------------------------- */

.main-header {
    padding-top: 9px;

    display: flex;
    flex-direction: column;
}

.main-header-logo {
    margin-right: 24px;
}

.main-navigation {
    display: flex;

    margin-bottom: 2px;
}

.site-navigation {
    list-style: none;
    
    line-height: 18px;
    font-size: 16px;
    font-weight: bold;
    
    display: flex;
    margin: 0;
    padding: 23px 0 0 0;
}

.site-navigation li {
    margin-right: 28px;
}

.site-link:hover,
.site-link:focus {
    font-weight: bold;
    color: #323232;

    background-color: #f7f6f3;

    border-radius: 32px;
}

.site-link.selected {
    font-weight: bold;
    color: #ffffff;

    background-color: #d07058;

    border-radius: 32px;
}

.sub-navigation {
    list-style: none;
    
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    color: #323232;

    background-color: #f8f7f4;
}

.sub-link:hover,
.sub-link:focus {
    color:  #323232;

    background-color: #fbded7;
    border-radius: 0px;
}

.sub-link a:active {
    color:  #323232;

    background-color: #f6b5a5;
}

.user-navigation {

    padding-top: 14px;
    margin-left: auto;
}

.user-navigation a {
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;

    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 32px;

    margin-right: 10px;
}

.user-navigation .cart-link {
    margin-right: 0;
}

.user-navigation a:hover {
    color: #323232;

    background-color: #f8f7f4;
}

.user-navigation a.cart-loaded {
    color: #323232;
    background-color: #f8f7f4;
}

.contact-info-wrapper {
    align-self: flex-end;
}

.contact-info-wrapper .open-time {
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;

    margin: 0 0 8px 0;
}

.contact-info-wrapper .phone {
    line-height: 24px;
    font-size: 22px;
    font-weight: bold;
}

/* ------------------------------Main section styling------------------------------------- */

.main-wrapper {
    display: flex;
    flex-direction: column;

    margin-bottom: 39px;
}

/* ------------------------------Main banner styling------------------------------------- */

.main-banner {
    margin-bottom: 40px;
}

.main-banner-list {
    list-style: none;
    
    margin: 0;
    padding: 0;
}

.main-banner-info {
    line-height: 60.5px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;

    padding: 0;
}


/* ------------------------------Special offers styling------------------------------------- */

.special-offers {
    margin-bottom: 40px;

    display: flex;
    justify-content: space-between;
}

.special-offer {
    background-color: #000000;
    background-position: top left;
    background-repeat: no-repeat;

    border-radius: 15px;

    width: 560px;
}

/* FIXME: Why 2 and 3? */
.special-offer:nth-child(2) {
    background-image: url("../img/special-offer-strawberry.jpg");
}

.special-offer:nth-child(3) {
    background-image: url("../img/special-offer-chocolate.jpg");
}

.special-offer-header {
    line-height: 41px;
    font-size: 35px;
    font-weight: bold;

    margin: 0;
}

.special-offer-description {
    line-height: 22px;
    font-size: 18px;
    font-weight: bold;
}

/* ------------------------------Icecreams list styling------------------------------------- */

.icecreams {
    margin-bottom: 40px;
}

.icecream-list {
    list-style: none;

    padding: 0;
    margin: 0;

    display: flex;
}

.icecream-price {
    line-height: 45px;
    font-size: 45px;
    font-weight: bold;
}

.icecream-price span {
    font-size: 30px;
}

.icecream-name {
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
}

.icecream-item:hover {
    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}


/* ------------------------------About Gllacy styling------------------------------------- */

.about-gllacy {
    color: #323232;

    border-radius: 15px;

    background-color: #ede1c5;
    background-position: top left;
    background-repeat: repeat;
    background-image: url("../img/about-gllacy-grid.jpg");

    padding: 29px 20px 26px;
    margin-bottom: 40px;
}

.about-gllacy h2 {
    line-height: 30px;
    font-size: 24px;
    font-weight: 500;

    margin: 0;
    padding: 0 0 27px;
}


.features-list {
    list-style: none;

    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
}

.feature-item {
    line-height: 22px;
    font-size: 16px;
    font-weight: normal;
}

.feature-item p {
    margin: 0;
}

.feature-production,
.feature-ingredients {
    width: 476px;

    margin-right: 91px;
    margin-left: 56px; /* TODO: Ok using margin-left? */
}

.feature-suppliers,
.feature-delivery {
    width: 470px;
}

.feature-production,
.feature-suppliers {
    margin-bottom: 30px;
}

/* ------------------------------New blog record styling------------------------------------- */

.new-blog-subscribe-wrapper {
    display: flex;
    justify-content: space-between;
}

.new-blog-record {
    color: #323232;

    border-radius: 15px;

    background-color: #ffffff;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url("../img/blog-icecream.jpg");

    width: 560px;
}

.new-blog-record h2 {
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
}

.blog-record-link {
    line-height: 30px;
    font-size: 24px;
    font-weight: bold;
}

/* ------------------------------Subscribe styling------------------------------------- */

.subscribe {
    color: #5a5a5a;

    border-radius: 15px;

    background-color: #f8f7f4;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url("../img/svg/bg-post.svg");

    width: 560px;
}

.subscribe .wrapper {
    border-radius: 15px;

    background-color: #f8f7f4;
}

.subscribe p {
    line-height: 22px;
    font-size: 16px;
    font-weight: normal;
}

/* ------------------------------Contacts styling------------------------------------- */

.contacts {

    margin-bottom: 18px;

    position: relative;
}

.contacts.container {
    padding: 0;
}

.contacts-feedback {
    line-height: 20px;
    font-size: 14px;
    font-weight: normal;
    color: #323232;

    background-color: #ffffff;

    border-radius: 15px;

    width: 302px;

    position: absolute;
    top: 63px;
    right: 27px;
}

.contacts-feedback h2 {
    font: inherit;
}

.contacts-feedback .feedback-address {
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
}

.contacts-feedback .feedback-phone {
    line-height: 22px;
    font-size: 18px;
    font-weight: bold;
}

.contacts-feedback .feedback-time {
    line-height: 22px;
    font-size: 14px;
    font-weight: normal;
}

/* ------------------------------Breadcrumbs styling------------------------------------- */

.breadcrumbs {
    list-style: none;
}

.breadcrumbs-link {
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
}

/* ------------------------------Header styling for catalog page------------------------------------- */
.catalog-container h1 {
    line-height: 41px;
    font-size: 35px;
    font-weight: bold;
}

/* ------------------------------Icecream filter styling------------------------------------- */
.icecream-filter {
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
}

.icecream-filter fieldset {
    border: none;
}

/* TODO: How to style dropdown list? */
.filter-sort {
    color: inherit;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;

    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 32px;
}

.filter-sort:hover {
    color: #323232;
}

.filter_price_values input {
    color: inherit;
    background-color: transparent;
    border: none;
}

.filter-fat-list {
    list-style: none;
}

.filter-fat-option {
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
}

.filter-filler-list {
    list-style: none;
}

.filter-filler-option {
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
}

.filter-button {
    /* TODO: Size added for testing */
    height: 37px;
    width: 144px;

    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    
    background-color: rgba(255, 255, 255, 0.2);
    
    border: 2px solid #ffffff;
    border-radius: 37px;
}

.filter-button:hover,
.filter-button:focus {
    outline: none;

    color: #323232;

    background-color: #ffffff;
}

.filter-button:active {
    color: #323232;
    
    border: none;
    box-shadow: inset 0px 2px 1px 0 #696969;
}

/* ------------------------------Pagination styling------------------------------------- */

.pagination {
    list-style: none;
}

.pagination-item button {

    width: 27px;
    height: 26px;

    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;

    background-color: transparent;
    
    border: none;
    border-radius: 50px;  
}

.pagination-item button:hover,
.pagination-item button:focus {
    outline: none;

    background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item.selected button {
    color: #323232;

    background-color: #ffffff;
}

/* ------------------------------Footer styling------------------------------------- */

.main-footer {
    display: flex;
    justify-content: space-between;

    margin-bottom: 29px;
}

.footer-social,
.footer-navigation {
    list-style: none;

    margin: 0;
    padding: 18px 0 0;
}

.footer-social {
    display: flex;
}

.footer-social li {
    margin-right: 10px;
}

.footer-navigation {

    width: 304px;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

/* TODO: Refactor to 2 selectors */
.footer-navigation li:nth-child(1) .footer-link {
    font-weight: bold;
}

.footer-navigation li:nth-child(odd) {
    width: 111px;
    margin-right: 31px;
}

.footer-copyright {
    line-height: 16px;
    font-size: 12px;
    font-weight: normal;

    margin: 0;
}

/* ------------------------------Popup forms styling------------------------------------- */

/* ------------------------------Login form styling------------------------------------- */
.login-form {
    color: #323232;
    background-color: #f8f7f4;

    border-radius: 5px;
}

.login-form-navigation {
    list-style: none;
}

.login-form-link {
    line-height: 24px;
    font-size: 13px;
    font-weight: normal;
}

/* ------------------------------Search form styling------------------------------------- */
.search-form {
    color: #323232;
    background-color: #f8f7f4;

    border-radius: 5px;   
}

/* ------------------------------Modal feedback form styling------------------------------------- */

.modal-feedback {
    color: #323232;
    background-color: #f8f7f4;

    border-radius: 5px;   
}

.modal-feedback b {
    line-height: 28px;
    font-size: 24px;
    font-weight: 500;
}

/* ------------------------------Checkout form styling------------------------------------- */

.checkout-form {
    line-height: 16px;
    font-size: 13px;
    font-weight: normal;
    color: #323232;

    background-color: #f8f7f4;

    border-radius: 5px;   
}

.card_total {
    line-height: 18px;
    font-size: 15px;
    font-weight: bold;
}