
/* TODO:
    - add text-align
    - add background images 
    - correct default outline
*/

/* ------------------------------Basic elements styling------------------------------------- */

body {
    margin: 0;

    font-family: "Roboto", Arial, sans-serif;
    color: #ffffff;

    background-color: #849d8f;
}

a {
    color: inherit;
    text-decoration: none;
}

/* ------------------------------Buttons styling------------------------------------- */
.button {
    /*TODO: size added for testing*/
    width: 165px;
    height: 46px;

    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;

    background-image: linear-gradient(to top, #e74a35, #f26843);
    
    border: none;
    border-radius: 64px;
    box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
    outline: none;

    box-shadow: 0px 2px 2px 0 #ac1000;
    background-image: 
        linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
        linear-gradient(to top, #e74a35, #f26843);
}

.button:active {
    box-shadow: inset 0px 2px 2px 0 #942718;
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
        linear-gradient(to bottom, #e74a35, #f26843);
}

/* ------------------------------Links styling------------------------------------- */
.link {
    line-height: 16px;
    font-size: 13px;
    font-weight: normal;

    text-decoration: underline;
}

.link:hover,
.link:focus {  
    outline: none;

    color: #ffbc9e;
}

/* ------------------------------Form inputs styling------------------------------------- */
.input-field {
    font: inherit;
    line-height: 24px;
    font-size: 16px;
    color: #323232;
    font-weight: bold;

    background-color: #ffffff;
    
    border-radius: 5px;
    border: 1px inset rgba(178, 178, 178, 0.52);
}

.input-field::placeholder {
    font-weight: normal;
    color: #999999;
}

.input-field:hover {
    border: 2px inset rgba(154, 154, 154, 0.52);
}

.input-field:focus {
    outline: none;
    border: 2px inset rgba(46, 136, 228, 0.52);
}

/* ------------------------------Header styling------------------------------------- */

.site-navigation {
    line-height: 18px;
    font-size: 16px;
    font-weight: bold;
}

.underscore_text {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-sub-navigation {
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    color: #323232;

    background-color: #f8f7f4;
}

.catalog-sub-navigation a {
    color: inherit;
}

.site-navigation,
.catalog-sub-navigation {
    list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
    font-weight: bold;
    color: #323232;

    background-color: #f7f6f3;

    border-radius: 32px;
}

/* TODO: refactor */
.site-navigation .selected > a {
    font-weight: bold;
    color: #ffffff;

    background-color: #d07058;

    border-radius: 32px;
}

/* TODO: inheritence problem? */
.catalog-sub-navigation a:hover,
.catalog-sub-navigation a:focus {
    color:  #323232;

    background-color: #fbded7;
    border-radius: 0px;
}

.catalog-sub-navigation a:active {
    color:  #323232;

    background-color: #f6b5a5;
}

a:hover .underscore_text,
a:focus .underscore_text {
    border-bottom: none;
}

.user-navigation a {
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;

    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 32px;
}

.user-navigation a:hover {
    color: #323232;

    background-color: #f8f7f4;
}

.user-navigation a.cart-loaded {
    color: #323232;
    background-color: #f8f7f4;
}

.main-header-contact-info .open-time {
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
}

.main-header-contact-info .phone {
    line-height: 24px;
    font-size: 22px;
    font-weight: bold;
}

/* ------------------------------Main banner styling------------------------------------- */
.main-banner-list {
    list-style: none;
}

.main-banner-info {
    line-height: 60.5px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}


/* ------------------------------Special offers styling------------------------------------- */

.special-offer {
    /*TODO: chage to fit the pictures*/
    background-color: #000000;
    background-position: top left;
    background-repeat: no-repeat;

    border-radius: 15px;
}

/* FIXME: Why 2 and 3? */
.special-offer:nth-child(2) {
    background-image: url("../img/special-offer-strawberry.jpg");
}

.special-offer:nth-child(3) {
    background-image: url("../img/special-offer-chocolate.jpg");
}

.special-offer-header {
    line-height: 41px;
    font-size: 35px;
    font-weight: bold;
}

.special-offer-description {
    line-height: 22px;
    font-size: 18px;
    font-weight: bold;
}

/* ------------------------------Icecreams list styling------------------------------------- */

.icecream-list {
    list-style: none;
}

.icecream-price {
    line-height: 45px;
    font-size: 45px;
    font-weight: bold;
}

.icecream-price span {
    font-size: 30px;
}

.icecream-item:hover {
    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 5px;
    box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}


/* ------------------------------About Gllacy styling------------------------------------- */

.about-gllacy {
    color: #323232;

    border-radius: 15px;

    background-color: #ede1c5;
    background-position: top left;
    background-repeat: repeat;
    background-image: url("../img/about-gllacy-grid.jpg");
}

.about-gllacy h2 {
    line-height: 30px;
    font-size: 24px;
    font-weight: 500;
}


.features-list {
    list-style: none;
}

.feature-item {
    line-height: 22px;
    font-size: 16px;
    font-weight: normal;
}

/* ------------------------------New blog record styling------------------------------------- */

.new-blog-record {
    color: #323232;

    border-radius: 15px;

    background-color: #ffffff;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url("../img/blog-icecream.jpg");
}

.new-blog-record h2 {
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
}

.blog-record-link {
    line-height: 30px;
    font-size: 24px;
    font-weight: bold;
}

/* ------------------------------Subscribe styling------------------------------------- */

.subscribe {
    color: #5a5a5a;

    border-radius: 15px;

    background-color: #f8f7f4;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url("../img/svg/bg-post.svg");
}

.subscribe .wrapper {
    border-radius: 15px;

    background-color: #f8f7f4;
}

.subscribe p {
    line-height: 22px;
    font-size: 16px;
    font-weight: normal;
}

/* ------------------------------Contacts styling------------------------------------- */

.contacts-feedback {
    line-height: 20px;
    font-size: 14px;
    font-weight: normal;
    color: #323232;

    background-color: #ffffff;

    border-radius: 15px;
}

.contacts-feedback h2 {
    font: inherit;
}

.contacts-feedback .feedback-address {
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
}

.contacts-feedback .feedback-phone {
    line-height: 22px;
    font-size: 18px;
    font-weight: bold;
}

.contacts-feedback .feedback-time {
    line-height: 22px;
    font-size: 14px;
    font-weight: normal;
}

/* ------------------------------Breadcrumbs styling------------------------------------- */

.breadcrumbs {
    list-style: none;
}

.breadcrumbs-link {
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
}

/* ------------------------------Header styling for catalog page------------------------------------- */
.catalog-container h1 {
    line-height: 41px;
    font-size: 35px;
    font-weight: bold;
}

/* ------------------------------Icecream filter styling------------------------------------- */
.icecream-filter {
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
}

.icecream-filter fieldset {
    border: none;
}

/* TODO: How to style dropdown list? */
.filter-sort {
    color: inherit;
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;

    background-color: rgba(255, 255, 255, 0.2);

    border-radius: 32px;
}

.filter-sort:hover {
    color: #323232;
}

.filter_price_values input {
    color: inherit;
    background-color: transparent;
    border: none;
}

.filter-fat-list {
    list-style: none;
}

.filter-fat-option {
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
}

.filter-filler-list {
    list-style: none;
}

.filter-filler-option {
    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
}

.filter-button {
    /* TODO: Size added for testing */
    height: 37px;
    width: 144px;

    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    
    background-color: rgba(255, 255, 255, 0.2);
    
    border: 2px solid #ffffff;
    border-radius: 37px;
}

.filter-button:hover,
.filter-button:focus {
    outline: none;

    color: #323232;

    background-color: #ffffff;
}

.filter-button:active {
    color: #323232;
    
    border: none;
    box-shadow: inset 0px 2px 1px 0 #696969;
}

/* ------------------------------Pagination styling------------------------------------- */

.pagination {
    list-style: none;
}

.pagination-item button {

    width: 27px;
    height: 26px;

    line-height: 18px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;

    background-color: transparent;
    
    border: none;
    border-radius: 50px;  
}

.pagination-item button:hover,
.pagination-item button:focus {
    outline: none;

    background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item.selected button {
    color: #323232;

    background-color: #ffffff;
}

/* ------------------------------Footer styling------------------------------------- */

.footer-social,
.footer-navigation {
    list-style: none;
}

/* TODO: Refactor to 2 selectors */
.footer-navigation li:nth-child(1) .footer-link {
    font-weight: bold;
}

.footer-copyright {
    line-height: 16px;
    font-size: 12px;
    font-weight: normal;
}

/* ------------------------------Forms styling------------------------------------- */

/* ------------------------------Login form styling------------------------------------- */
.login-form {
    color: #323232;
    background-color: #f8f7f4;

    border-radius: 5px;
}

.login-form-navigation {
    list-style: none;
}

.login-form-link {
    line-height: 24px;
    font-size: 13px;
    font-weight: normal;
}

/* ------------------------------Search form styling------------------------------------- */
.search-form {
    color: #323232;
    background-color: #f8f7f4;

    border-radius: 5px;   
}

/* ------------------------------Modal feedback form styling------------------------------------- */

.modal-feedback {
    color: #323232;
    background-color: #f8f7f4;

    border-radius: 5px;   
}

.modal-feedback b {
    line-height: 28px;
    font-size: 24px;
    font-weight: 500;
}

/* ------------------------------Checkout form styling------------------------------------- */

.checkout-form {
    line-height: 16px;
    font-size: 13px;
    font-weight: normal;
    color: #323232;

    background-color: #f8f7f4;

    border-radius: 5px;   
}

.card_total {
    line-height: 18px;
    font-size: 15px;
    font-weight: bold;
}